<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ManageSys.mapper.EmployeeMapper">

    <select id="selectAll" resultType="com.ManageSys.entity.Employee">
        select * from employee
        <where>
            <if test="name != null">
                AND name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="date1 != null and date2 != null">
                AND entry_date BETWEEN #{date1} AND #{date2}
            </if>
        </where>

    </select>

    <insert id="insert" parameterType="com.ManageSys.entity.Employee">
        insert into `employee` (username, name, gender, image, job, entry_date, dept_id)
        values (#{username}, #{name}, #{gender}, #{image}, #{job}, #{entryDate}, #{deptId})
    </insert>

    <update id="updateById" parameterType="com.ManageSys.entity.Employee">
        update `employee` set username = #{username}, name = #{name}, gender = #{gender}, image = #{image}, job = #{job},
                              entry_date = #{entryDate}, dept_id = #{deptId}
        where id = #{id}
    </update>

</mapper>